<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jomarie.kotlinpractice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cartlogo"
        android:label="Blackmarket"
        android:roundIcon="@drawable/cartlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CategoryProduct"
            android:label="Product" />
        <activity
            android:name=".Activity.Register"
            android:label="Shipping Details"/>
        <activity
            android:name=".Activity.Cart"
            android:label="Shopping Cart"
            android:parentActivityName=".Activity.Register">
            >
        </activity>
        <activity android:name=".Activity.Transaction" />
        <activity
            android:name=".Activity.ProductDetails"
            android:label="Product Details"
            android:parentActivityName=".Activity.Register" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activity.AccountProfile"
            android:label="Profile"
            android:parentActivityName=".Activity.CategoryProduct" />
        <activity android:name=".Activity.MainActivity"></activity>
    </application>

</manifest>